<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a role="button" class="thumb" href="#" data-toggle="modal"  data-target="#imageModal"><img src="/images/location-test.png"></a></div>
        <div class="swiper-slide"><a role="button" class="thumb" href="#" data-toggle="modal"  data-target="#imageModal"><img src="/images/location-test.png"></a></div>
        <div class="swiper-slide"><a role="button" class="thumb" href="#" data-toggle="modal"  data-target="#imageModal"><img src="/images/location-test.png"></a></div>
        <div class="swiper-slide"><a role="button" class="thumb" href="#" data-toggle="modal"  data-target="#imageModal"><img src="/images/location-test.png"></a></div>
        <div class="swiper-slide"><a role="button" class="thumb" href="#" data-toggle="modal"  data-target="#imageModal"><img src="/images/location-test.png"></a></div>
        <div class="swiper-slide"><a role="button" class="thumb" href="#" data-toggle="modal"  data-target="#imageModal"><img src="/images/location-test.png"></a></div>
        <div class="swiper-slide"><a role="button" class="thumb" href="#" data-toggle="modal"  data-target="#imageModal"><img src="/images/location-test.png"></a></div>
    </div>
</div>