<div>
    <div class="container">
        <div class="breadcrumb-link">
            <a class="breadcrumb-link" href="/"><< Back to Locations</a>
        </div>
    </div>

    <div class="item-banner">

    </div>
    <div class="item-banner-content">
        <div class="display-item-body">
            <!--<a href="" ng-click="deleteLocation($index)" class="glyphicon glyphicon-remove-circle"></a>-->
            <span class="display-banner-name">{{location.name}}</span>  <br />
            <span class="display-banner-details">{{location.city}}, {{location.state}}</span>
        </div>
        <div class="display-rating">
            <div class="star-rating star-{{location.reviews_average}}">{{location.reviews_average}}</div>
            <div class="rating-details">{{location.items_count}} Items <br />
                {{location.reviews_count}} Reviews</div>
        </div>
    </div>


    <div class="btn-row">
        <a href="#" role="button" class="btn btn-purple full-width" id="add" title="add" data-toggle="modal" data-target="#addModal">+</a>
    </div>

    <div class="full-width-container display-list">
        <div ng-repeat="item in items track by $index">
            <a href="/location/{{item.location_id}}/item/{{item.id}}">
                <div class="full-width-container display-item">
                    <div class="display-image-conatiner">
                        <img class="display-image" src="/images/location-test.png">
                    </div>
                    <div class="display-item-body">
                        <!--<a href="" ng-click="deleteLocation($index)" class="glyphicon glyphicon-remove-circle"></a>-->
                        <span class="display-item-name">{{item.name}}</span>  <br />
                        <span class="display-item-details">{{item.description}}</span>
                    </div>
                    <div class="display-rating">
                        <div class="star-rating star-{{item.reviews_average}}">{{item.reviews_average}}</div>
                        <div class="rating-details">{{item.reviews_count}} Reviews</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Menu Item</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="submitForm()" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="location-name">Name:</label>
                        <div class="col-sm-8">
                            <input class="col-sm-10 form-control" id="location-name" type="text" ng-model="item.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="location-description">Description:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="location-description" rows="3" ng-model="item.description" placeholder="Description..."></textarea>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-toggle="modal">Add</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->