<div>
    <div class="container">
        <div class="breadcrumb-link">
            <a class="breadcrumb-link" href="/"><< Back to Locations</a>
        </div>
    </div>

    <div class="item-banner">

    </div>
    <div class="item-banner-content">
        <div class="item-banner-body">
            <!--<a href="" ng-click="deleteLocation($index)" class="glyphicon glyphicon-remove-circle"></a>-->
            <span class="display-banner-name">{{location.name}}</span>  <br />
            <span class="display-banner-details">{{location.city}}, {{location.state}}</span>
        </div>
        <div class="display-rating">
            <div class="star-rating star-{{location.reviews_average}}">{{location.reviews_average}}</div>
            <div class="rating-details">{{location.items_count}} Items <br />
                {{location.reviews_count}} Reviews</div>
        </div>
    </div>


    <div class="btn-row">
        <a href="#" role="button" class="btn btn-purple full-width" id="add" title="add" data-toggle="modal" data-target="#addModal">+</a>
    </div>

    <div class="full-width-container display-list">
        <div ng-repeat="item in items track by $index" class="list-item">
            <items-list-item></items-list-item>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span></button>
                <h4 class="modal-title">Add Menu Item</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="submitForm()" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="item-name">Name:</label>
                        <div class="col-sm-8">
                            <input class="col-sm-10 form-control" id="item-name" type="text" ng-model="item.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="item-description">Description:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="item-description" rows="3" ng-model="item.description" placeholder="Description..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="item-image">Image:</label>
                        <div class="col-sm-8">
                            <div class="upload_button_holder" ng-controller="photoUploadCtrl">
                                <div><a href="#" class="upload_button" ngf-select="uploadFiles($files)" id="item-image">Add Photo</a></div>
                                <div class="preview" ng-repeat="file in files">
                                    <h3>{{f.$error}} {{f.$errorParam}}</h3>
                                    <!--<div class="progress-bar">-->
                                        <!--<div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>-->
                                    <!--</div>-->
                                    <div class="form_line">
                                        <div class="form_controls">
                                            <div class="preview">
                                                <img ngf-src="file.result.url || file">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="info">-->
                                        <!--<table>-->
                                            <!--<tr ng-repeat="(key, value) in file.result">-->
                                                <!--<td> {{key}} </td> <td> {{ value }} </td>-->
                                            <!--</tr>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit"  class="btn btn-primary" data-toggle="modal">Add</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->