<div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li><h1>Menu Items</h1></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="#" role="button" class="btn btn-purple" id="add" title="add" data-toggle="modal" data-target="#addModal">+</a>
            </li>
        </ul>
    </div>
    <div class="container"><a href="/"><< Back to Locations</a></div>
</div>

<div >
    <ul class="list-group">
        <li ng-repeat="item in items track by $index" class="list-group-item col-md-12 col-sm-12 col-xs-12">
            <a href="/location/{{item.location_id}}/item/{{item.id}}" class="item">
                <div class="col-md-1 col-sm-2 col-xs-3 rating">
                    <div class="star-rating star-{{item.reviews_average}}">{{item.reviews_average}}</div>
                    <span class="review-link">({{item.reviews_count}} reviews)</span>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-11 item">
                    <span class="item-name">{{item.name}}</span> <span>- {{item.description}}</span> <br>
                </div>
                <div>
                    <a href="" ng-click="deleteItem($index)" class="glyphicon glyphicon-remove-circle"></a>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Menu Item</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="submitForm()" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="location-name">Name:</label>
                        <div class="col-sm-8">
                            <input class="col-sm-10 form-control" id="location-name" type="text" ng-model="item.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="location-description">Description:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="location-description" rows="3" ng-model="item.description" placeholder="Description..."></textarea>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-toggle="modal">Add</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->